
@font-face {
 font-family: "BAUHS93";
 src: url("BAUHS93/BAUHS93.woff");
}

span{
  color : orange;
}

body{
  margin: 0;
  padding: 0;
  font-family: 'BAUHS93', sans-serif;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-bottom: 5px solid black;
  background: linear-gradient(black, black), rgba(0,0,0,255) ;
}

nav h1{
  color: white;
  font-size: 39px;
}

nav .onglets{
  margin-top: 3px;
  margin-left:1200px;
}

nav .onglets a{
  text-decoration: none;
  color: white;
  margin-right: 10px;
  border-bottom: 1px solid white;
  padding-bottom: 5px;
  font-size: 20px;
}

header{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(rgba(0, 12, 150, 0.25), rgba(0, 12, 150, 0.25)), url(fond.jpeg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1800px ;
  color: white;
  padding: 100px;
  height: 60vh;
}

header h1{
  font-size: 10.7em;
}

header h4{
  font-size: 30px;
  margin-top: -300px;
  font-family: serif;
  font-style: oblique;
}

.main
{
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: linear-gradient(rgba(0, 12, 150, 0.25), rgba(0, 12, 150, 0.25)), blue;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 1800px ;
}

.main .content .card
{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 20px;
}

.main .content .card .left
{
  flex: 0 0 30%;
  padding: 20px;
  background-color: black;
  color: white;
  font-family: serif;
  font-size: 20px;
}

.main .content .card.right
{
  flex: 0 0 70%;
}


.main .content .card.right img{
  height: 300px;
  width: 400px;
  margin-top: 10px;
}



footer{
    margin-top: 40px;
    border-top: 5px solid #6f6f6f;
    background-color: rgb(0, 0, 0);
    color: #fff;
    padding: 30px 100px;
    font-family: 'Playfair Display', serif;
}
footer h1{
    border-bottom: 1px solid white;
    width: 20%;
    padding-bottom: 5px;
}
footer .services{
    margin-top: -10px;
    display:flex;
    flex-wrap:wrap;
}
footer .services .service{
    margin-right: 30px;
}
footer .services .service p{
    max-width: 300px;
}
a
{
  text-decoration: none;
  color: white;
}
